.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(195, 144, 144);
    padding: 20px 30px;
    /* position: fixed;
    left: 0;
    width: 97%; */
}

.nav{
    font-size: 2rem;
    font-weight: 500;
}

.heading{
    display: flex;
    justify-content: right;
}